@font-face {
    font-family: MontserratAlternates;
    src: url(./fonts/Montserrat/MontserratAlternates-Regular.ttf);
}
@font-face {
    font-family:Poppins ;
    src:  url(./fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family:Fahkwang ;
    src:  url(./fonts/Fahkwang/Fahkwang-Regular.ttf);
}